.button {
  @apply relative inline-flex items-center justify-center gap-3 overflow-hidden border border-white px-6 py-4 text-center text-xs font-bold uppercase tracking-wide transition-colors duration-300;

  &::before {
    @apply absolute -inset-4 -z-0 origin-right -skew-x-12 scale-x-0 transform bg-white transition-transform duration-300;
    content: "";
  }

  &:hover {
    @apply text-gray-900;

    &::before {
      @apply origin-left scale-x-100;
    }
  }

  &.is-gold {
    @apply border-yellow-100;
    &::before {
      @apply bg-yellow-100;
    }
  }

  &.is-dark {
    @apply border-gray-900;
    &::before {
      @apply bg-gray-900;
    }
    &:hover {
      @apply text-white;
    }
  }

  span,
  svg {
    position: relative;
    z-index: 1;
  }
}
